#mental {
    color: white;
    background-color: black;
    float: left;
    padding: 25%;
    margin: 0;
}

#shift {
    color: white;
    background-color: grey;
    padding: 25%;
    margin: 0;
    text-align: center;
}
